body, html {margin: 0;padding: 0;}
.home{
    font-family: 'Comfortaa', cursive;
    background-image: url('../../images/background.jpg');
    background-repeat: no-repeat;
   background-position: 99% 50%;
    background-color: #464646;
    background-size: 100% 100%;
}
.logo-image-homepage{
    padding-top: 50px;
   height: auto;
   width: 45%;
   min-width: 300px; 
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.link-to-register{
    text-align: center;
}

@media only screen and (max-width: 500px) {
    
    .logo-image-homepage{
        padding-top: 19px;
    }
}

