.exercise-form-container-strength{
    font-family: 'Comfortaa', cursive;
}
.strength-exercise-form-container{
    background-color: rgba(163, 242, 222, 0.249);
    min-height: 100vh;
}
.add-more-fields{
    margin-top: 20px;
    margin-bottom: 10px;
    font-family: 'Comfortaa', cursive;
    background-color: rgb(133, 171, 169);
    font-size: 15px;
    border-radius: 10px;
    height: 25px;
    width: 200px;
}
.add-more-fields:hover{
    transform: scale(1.1);
    background-color: rgb(24, 140, 189);
}
.duplicated-fields{
    margin-bottom: 10px;
    margin-top: 10px;
}

.strength-exercise-form-container h1{
    font-size: 25px;
}

.strengthexercise{
    padding-top: 20px;
    position: relative;
  z-index: 1;
  background: #FFFFFF;
  text-align: center;
    width: 40%;
    min-width: 300px;
    margin:0 auto;
    background-color: white;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.strengthexercise label{
    font-size: 15px;
    padding-left: 5%;
    font-weight: bolder;
    font-size: 18px;
    display: block;
    text-align: center;
    line-height: 150%;
    text-align: left;
    font-weight: bolder;
    width: 80%;
    text-align: left;
}
.strengthexercise input {
    outline: 0;
    background: #f2f2f2;
    width: 90%;
    border: 0;
    margin: 0 0 15px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
  }
  .strengthexercise select{
      border: 1px solid black;
      width: 90%;
      height: 30px;
      padding: 15px;
  }
  .strengthexercise button {
    text-transform: uppercase;
    outline: 0;
    background: rgb(175, 254, 177);
    width: 100%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
  }
  .strengthexercise button:hover {
background: rosybrown;
  }