.exercise-details-from-state{
border: 1px solid black;
background-color: rgba(202, 245, 231, 0.632);
width: 290px;
margin: 0 auto;
margin-top: 10px;
margin-bottom: 10px;
padding-bottom: 10px;
padding-top: 10px;
}
.exercise-form-container{
    text-align: center;
    font-family: 'Comfortaa', cursive;
}
.exercise-form{
    margin-top: 10px;
}

.exercise-form .edit-form-submit{
    text-transform: uppercase;
    outline: 0;
    margin-bottom: 20px;
    background: rosybrown;
    width: 90%;
    border: 0;
    padding: 15px;
    color: #FFFFFF;
    font-size: 14px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.3 ease;
    cursor: pointer;
}
.exercise-form .edit-form-submit:hover{
    background: rgb(109, 75, 75);
}
