body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
.form-error{
  color: red;
 font-weight: bold;
}
.spinner-container{
  width: 100%;
  background-color: white;
  height: 100%;
  position: fixed;
  z-index: 100;
  
 
}
.spinner-container > div{
  top: 50%;
  position: fixed;
    left: 47%;
    background-color: white;
    /* height: 100%; */
    /* width: 100%; */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
